language: python
python:
  - 3.6
  - nightly
install:
  - pip3 install -r requirements.txt
  - pip3 install coveralls
cache: pip3

script:
  - pytest
  - coveralls
  - nosetests
  - nosetests --with-coverage --cover-package=tests && coverage report
notifications:
  webhooks: ! 'https://coveralls.io/webhook?repo_token=%{$COVERALLS_REPO_TOKEN}'

after_success: coveralls
  - "coveralls"
