<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Yummy Recipes</title>
    <link href="{{url_for('static', filename='styles/style.css')}}" rel="stylesheet" type="text/css">
</head>
<body>
    <header>
        <div class="hero">
            <div class="logo">
                <img src="../static/img/logo.png">
            </div>
            <h1>Yummy Recipes</h1>

            <div class="button">

                <a href="" class="btn">Read more</a>

            </div>
        </div>
        <div class="row">
            <nav>
                <ul class="main-nav">
                    <li><a href="/" id="current">Meet us</a></li>
                    <li><a href="/myrecipes">My recipes</a></li>
                    <li><a href="/login">Login</a></li>
                    <li><a href="/Sign-up">Sign-up</a></li>
                    <li><a href="/Categories">Categories</a></li>
            </ul>
            </nav>
        </div>
    </header>

</body>
</html>