<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Recipes</title>
    <link href="{{url_for('static', filename='styles/myrecipes.css')}}" rel="stylesheet">
</head>
<body>
    <div class="pimg1">
        <div class="ptext">
            <span class="border">
                Yummy Recipes
            </span>
        </div>
    </div>
    <section class="section section-light">
        <h2>
            Chicken Pie Recipe
        </h2>

        <p>
            Sed interdum id velit eu iaculis. Nunc faucibus augue nunc, at condimentum risus vestibulum at. Etiam auctor arcu orci, at tempor odio eleifend sit amet. Integer ultricies ac sem nec consectetur. Donec suscipit ut quam nec facilisis. Donec sagittis augue a arcu porta congue. In aliquet massa auctor turpis convallis ullamcorper. Phasellus at enim elementum, porttitor lacus a, suscipit ex. Curabitur posuere ultrices nisi at aliquet. Nam convallis ac arcu in elementum. Donec tristique, erat at tempus suscipit, augue nulla malesuada tellus, quis sodales dolor augue sed dolor. Integer vulputate ac augue vitae fermentum. Nulla aliquam nisl enim, et viverra enim iaculis non.
        </p>
        <button class="button" type="submit">Edit</button>
        <button class="button" type="submit">Delete</button>
        <button class="button" onclick="location.href='/'" type="submit">Home</button>
    </section>
    <div class="pimg2">
        <div class="ptext">
            <span class="border">
                Best Chef Practices
            </span>
        </div>
    </div>
    <section class="section section-dark">
        <h2>
            Chicken periperi recipe
        </h2>

        <p>
            Sed interdum id velit eu iaculis. Nunc faucibus augue nunc, at condimentum risus vestibulum at. Etiam auctor arcu orci, at tempor odio eleifend sit amet. Integer ultricies ac sem nec consectetur. Donec suscipit ut quam nec facilisis. Donec sagittis augue a arcu porta congue. In aliquet massa auctor turpis convallis ullamcorper. Phasellus at enim elementum, porttitor lacus a, suscipit ex. Curabitur posuere ultrices nisi at aliquet. Nam convallis ac arcu in elementum. Donec tristique, erat at tempus suscipit, augue nulla malesuada tellus, quis sodales dolor augue sed dolor. Integer vulputate ac augue vitae fermentum. Nulla aliquam nisl enim, et viverra enim iaculis non.
        </p>
        <button class="button" type="submit">Edit</button>
        <button class="button" type="submit">Delete</button>
        <button class="button" onclick="location.href='/'" type="submit">Home</button>
    </section>


    <div class="pimg3">
        <div class="ptext">
            <span class="border">
                Grandma's chicken recipe
            </span>
        </div>
    </div>
    <section class="section section-light">
        <h2>
            baked chicken
        </h2>

        <p>
            Sed interdum id velit eu iaculis. Nunc faucibus augue nunc, at condimentum risus vestibulum at. Etiam auctor arcu orci, at tempor odio eleifend sit amet. Integer ultricies ac sem nec consectetur. Donec suscipit ut quam nec facilisis. Donec sagittis augue a arcu porta congue. In aliquet massa auctor turpis convallis ullamcorper. Phasellus at enim elementum, porttitor lacus a, suscipit ex. Curabitur posuere ultrices nisi at aliquet. Nam convallis ac arcu in elementum. Donec tristique, erat at tempus suscipit, augue nulla malesuada tellus, quis sodales dolor augue sed dolor. Integer vulputate ac augue vitae fermentum. Nulla aliquam nisl enim, et viverra enim iaculis non.
        </p>
        <button class="button" type="submit">Edit</button>
        <button class="button" type="submit">Delete</button>
        <button class="button" onclick="location.href='/'" type="submit">Home</button>
    </section>
    <div class="pimg1">
        <div class="ptext">
            <span class="border">
                Yummy Recipes
            </span>
        </div>
    </div>


</body>
</html>