<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign up</title>
    <link href="{{url_for('static', filename='styles/style.css')}}" rel="stylesheet">
    <link href="{{url_for('static', filename='styles/sign-up.css')}}" rel="stylesheet">

</head>
<body>
    <header>
        <div class="row">
            <nav>
                <ul class="main-nav">
                    <li><a href="index.html">Meet us</a></li>
                    <li><a href="myrecipes.html">My recipes</a></li>
                    <li><a href="Sign-in.html" >Login</a></li>
                    <li><a href="Sign-up.html" id="current">Sign-up</a></li>
                    <li><a href="Categories.html">Categories</a></li>
                </ul>
            </nav>
        </div>
        <div class="header">
            <img src="../static/img/logo.png">
        </div>
    </header>
    <div class="container">
        <div class="right">
            <div class="Formbox">
                <form>
                    <input placeholder="New Password" type="password" required>
                    <input placeholder="Confirm Password" type="password" required>
                </form>
            </div>
        </div>
        <div class="left">
            <div class="Formbox">
                <form>
                    <input placeholder="First Name" type="text" required>
                    <input placeholder="Last Name"  type="text" required>
                    <input placeholder="Email" type="email" required>

                    <p class="question">Need help ?</p>
                    <button class="button" type="submit">Sign Up</button>
                </form>
            </div>
        </div>
    </div>



</body>
<